body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td, th {
  width: calc(100% / 6);
  padding: 7px 0;
  border: 1px solid rgba(189, 207, 159, 0.22);
}

.yellow {
  background: rgba(189, 207, 159, 0.22);
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.relative {
  position: relative;
}

.main {
  padding: 35px;
}

.table{
  width: 100%;
}

.options {
  flex-direction: column;
  min-width: 100px;
  right: 0;
  position: absolute;
  border: 1px solid rgb(0, 39, 75);
}

.sortBtn {
  background: none;
  border: none;
  padding: 0;
}

.sortBtn:hover {
  cursor: pointer;
  color: rgb(0, 132, 255);
}

.opBtn {
  background: white;
  border: none;
  padding: 10px 5px;
}

.opBtn:hover {
  cursor: pointer;
  background: gray;
  color: white;
}
